<?xml version="1.0"?>
<model>
  <name>Red Balloon</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Balloon Hunter Team</name>
    <email>team@balloonhunter.com</email>
  </author>
  <description>
    A red balloon target for drone tracking simulation
  </description>
</model>
